body{
    background-color: #f6f7f9;
}
.titulo{
    font-size: 30px;
}
.borrarHr{
    border-bottom: 0px;
}
.cambioColor{
    text-decoration: none;
    color: black;

}
.cambioColor:hover{
    background-color: #e0e0e0;

}
h5{
    color:white;
}
.collapsible-body{
    font-size: 17px;
}
.btn-small{
    background-color: #353b4b;
}