body{
    background-color: #f6f7f9;
}
.titulo{
    font-size: 30px;
}
.borrarHr{
    border-bottom: 0px;
}
.cambioColor{
    text-decoration: none;
    color: black;

}
.collection-item{
    background-color: red;
}